$primary: #F9731A;
$secondary: #2F1C0E;
$cream: #FFF5E1;

$offcanvas-vertical-height: fit-content;
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

nav {
  view-transition-name: header;
}

.background-img-head {
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../public/images/background-head.png');
  background-repeat: no-repeat;
  background-position: center;
}

.background-gradient {
  background-image: linear-gradient(to bottom, $primary, $secondary);
}

.bg-cream {
  background-color: $cream;
}

.h-fit-content {
  height: fit-content;
}

.galery-item-card,
.riwayat-item-card {
  width: 25rem;
  max-height: 30rem;
  cursor: pointer;
}

.galery-item-card:hover,
.riwayat-item-card:hover {
  transform: scale(1.05);
}

#galery-loading,
#riwayat-loading {
  height: 75vh;
}

.loading-image-galery,
.loading-image-riwayat {
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae9e9;
  color: #a9a9a9;
}

.img-popup-map,
.loading-image-popup {
  width: 12rem;
  height: 12rem;
}

.loading-image-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae9e9;
  color: #a9a9a9;
}
